nav {
    background-color: aqua;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.principal {
    margin-top: 50px;
    text-align: center;
}